@{
    ViewData["Title"] = "Contact";
}
<div class="home">
    <div id="container">
        <h1>@ViewData["Title"]</h1>

        <p>Email: customer.service@quartzcreations.ca</p>
        <p>Telephone: +647 271 7272</p>
        <p>Address: 196 9th Line Avenue, Toronto, Canada M4G 1K1</p>
    </div>
</div>
